@use '@/styles/utils.scss' as *;
.quizz_div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem;
  margin: auto;
  border-radius: 10px;
  background-color: $div_Bg;
  width: 80%;
  max-width: 40rem;
}
