@use '@/styles/utils.scss' as *;

.quizz_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  color: $text_color;

  label {
    font-size: 1.5rem;
  }
  .radio_label {
    border: 1px solid $green_color;
    border-radius: 5px;
    padding: 1rem;
    cursor: pointer;
    display: block; // Ensure the label takes up the full width

    &:hover {
      background-color: $hover_color;
    }

    &.selected {
      background-color: $active_color;
      border-color: $active_color; // Add a different border color when active
    }
  }

  input[type='radio'] {
    display: none;
  }

  input {
    width: 40%;
    padding: 0.5rem;
    font-size: 1.25rem;
    border-radius: 5px;
    border: 1px solid $text_color;
    text-align: center;
  }
  .food_input {
    width: 60%;
  }
  .wrong_input {
    border: 1px solid red;
    background-color: red;
    opacity: 0.5;
  }
  .quizz_button {
    color: $text_color;
    font-size: 1.25rem;
    padding: 0.5rem 1rem;
  }
}
