@use '@/styles/utils.scss' as *;

.themes_div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  @media (max-width: 768px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  .theme_button {
    width: 100%;
    min-width: 14rem;
  }
}
