@use '@/styles/utils.scss' as *;

.themeDiv {
  display: flex;
  align-items: center;
  justify-content: space-around;
  a {
    background-color: $div_Bg;
    border: 1px solid $green_color;
    border-radius: 10px;
    padding: 0.75rem;
    box-shadow: 0 4px 10px $green_color;
    cursor: pointer;
    transition: all 0.3s ease;
    &:hover {
      transform: scale(1.03);
      border: 1px solid $hover_color;
      box-shadow: 0 4px 10px $hover_color;
      transform: translateY(2px);
    }
    &:active {
      background-color: $active_color;
      transform: translateY(0);
    }
  }
}
